html, body {
    height: 100%;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    background: #74ebd5;
    background: -moz-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.6)), -moz-linear-gradient(top, #b7c0ec, #7ff4de);
    background: -o-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.6)), -o-linear-gradient(top, #b7c0ec, #7ff4de);
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.6)), -webkit-linear-gradient(top, #b7c0ec, #7ff4de);
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.6)), linear-gradient(to bottom, #b7c0ec, #7ff4de);
}

table.header {
    /*ヘッダ部分のスタイルです*/
    background: -moz-linear-gradient(left, rgb(255, 124, 111), #ffc994);
    background: -webkit-linear-gradient(left, rgb(255, 124, 111), #ffc994);
    background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 90px;
}

td.header_font {
    /*ヘッダ部分のフォントです*/
    font-size: 30pt;
    font-family: Meiryo UI;
    text-align: center;
    border: dashed white;
    line-height: 1.5em;
    width: 100px;
    height: 100px;
}

a.header_link {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 100px;
}

#L_box {
    /*ページ左側青色部分のスタイルです*/
    float: left;
    background-color: #0066FF;
    width: 270px;
    height: 100%;
    color: white;
    text-align: center;
    font-family: Yu Gothic;
}

#R_box {
    float: left;
    color: green;
}

#midasi_1 {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}
